.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/33D9AA95/pcs/workbench-pane.pper
.Rproj.user/33D9AA95/console06/INDEX001
.Rproj.user/33D9AA95/pcs/files-pane.pper
.Rproj.user/33D9AA95/pcs/source-pane.pper
.Rproj.user/33D9AA95/sources/prop/18A6C43B
.Rproj.user/33D9AA95/sources/prop/1C216F96
.public
.Rhistory
.Rhistory
public/post/animated-directional-chord-diagrams/index.html
public/post/animated-sankey-plots/index.html
public/post/chinese-migration-chord-diagram/index.html
public/post/football-kits/index.html
public/post/global-migrant-stocks/index.html
public/post/index.html
public/post/index.xml
public/post/migrant-stock-chord-digrams/index.html
public/post/migrant_sankey.mp4
public/post/migrant_sankey.pdf
public/post/pop-pyramids.R
public/post/pop-treemap.R
public/post/tidycat/index.html
public/project/adri-pillar/index.html
public/project/combining-migration-data/index.html
public/project/global-migration-prediction/index.html
public/project/index.xml
public/publication/bilateral-international-migration-flow-estimates/index.html
public/publication/bilateral-international-migration-flow-estimates_files/figure-html/widgets/widget_unnamed-chunk-2.html
public/publication/bilateral-international-migration-flow-estimates_files/figure-html/widgets/widget_unnamed-chunk-4.html
public/publication/china-internal-migration-2010-15/index.html
public/publication/climate-conflict-and-forced-migration/index.html
public/publication/global-climate-vulnerability-and-migration/index.html
public/publication/global-migration-estimates-by-gender/index.html
public/post/animated-directional-chord-diagrams/index.html
public/post/chinese-migration-chord-diagram/index.html
public/post/football-kits/index.html
public/post/global-migrant-stocks/index.html
public/post/index.html
public/post/index.xml
public/post/migrant-stock-chord-digrams/index.html
public/post/pop-pyramids.R
public/post/tidycat/index.html
public/project/adri-pillar/index.html
public/project/combining-migration-data/index.html
public/project/global-migration-prediction/index.html
public/project/index.xml
public/publication/bilateral-international-migration-flow-estimates/index.html
public/publication/bilateral-international-migration-flow-estimates_files/figure-html/widgets/widget_unnamed-chunk-2.html
public/publication/bilateral-international-migration-flow-estimates_files/figure-html/widgets/widget_unnamed-chunk-4.html
public/publication/china-internal-migration-2010-15/index.html
public/publication/climate-conflict-and-forced-migration/index.html
public/publication/global-climate-vulnerability-and-migration/index.html
public/publication/global-migration-estimates-by-gender/index.html
public/publication/index.html
public/publication/index.xml
public/publication/korea-gender-balance/index.html
public/publication/korea-internal-migration-1970-2016/index.html
public/publication/non-zero-ssp-net-migration-projections/index.html
public/publication_types/2/index.html
public/publication_types/2/index.xml
public/publication_types/index.html
public/publication_types/index.xml
public/tags/academic/index.html
public/tags/academic/index.xml
public/tags/bayesian/index.html
public/tags/bayesian/index.xml
public/tags/chord-diagram/index.html
public/tags/chord-diagram/index.xml
public/tags/estimation/index.html
public/tags/estimation/index.xml
public/tags/index.html
public/tags/index.xml
public/tags/migration/index.html
public/tags/migration/index.xml
public/tags/prediction/index.html
public/tags/prediction/index.xml
public/tags/r/index.html
public/tags/r/index.xml
public/talk/anu-2018/index.html
public/talk/apac1-2018/index.html
public/talk/apac2-2018/index.html
public/talk/epc-2018/index.html
public/talk/hanyang-2019/index.html
public/talk/ifms-2020/index.html
public/talk/index.html
public/talk/index.xml
public/talk/paa-2018/index.html
public/talk/uq-2018/index.html
public/talk/uw1-2018/index.html
public/talk/uw2-2018/index.html
static/img/sankey-income/abel-fixed.mp4
static/img/sankey-income/abel-fixed.png
static/img/sankey-income/abel-free-unknown.mp4
static/img/sankey-income/abel-free-unknown.png
static/img/sankey-income/abel-free.mp4
static/img/sankey-income/abel-free.png
static/publication/bilateral-international-migration-flow-estimates_files/figure-html/widgets/widget_unnamed-chunk-2.html
static/publication/bilateral-international-migration-flow-estimates_files/figure-html/widgets/widget_unnamed-chunk-4.html
.Rhistory
.Rhistory
